<header class="header bg-dark">
  <nav class="navbar navbar-static-top navbar-expand-lg header-sticky">
    <div class="container-fluid">
      <button id="nav-icon4" type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target=".navbar-collapse">
          <span></span>
          <span></span>
          <span></span>
      </button>
      <a class="navbar-brand" href="index.html">
        <img class="img-fluid">
        RecruitmentApp
      </a>
      <div class="navbar-collapse collapse justify-content-start">
        <ul class="nav navbar-nav">
          <li class="nav-item dropdown">
            <a class="nav-link" href="index.html" id="navbarDropdown" role="button" aria-haspopup="true" aria-expanded="false">Home</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="javascript:void(0)" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"  routerLink="/jobList">
              Job Listing
            </a>
          </li>
          <li class="nav-item dropdown" *ngIf="isLoggedInEmployer">
            <a class="nav-link dropdown-toggle" href="javascript:void(0)" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Employer <i class="fas fa-chevron-down fa-xs"></i>
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" routerLink="/recruiterGrid">Employer Grid</a></li>
              <li class="dropdown-submenu">
                <a class="dropdown-item dropdown-toggle" href="javascript:void(0)">Dashboard <i class="fas fa-chevron-right fa-xs"></i></a>
                  <ul class="dropdown-menu left-side">
                    <li><a class="dropdown-item" routerLink="/dashRecruiter/profileRecruiter">Profile</a></li>
                    <li><a class="dropdown-item" routerLink="/dashRecruiter/changePasswordRecruiter">Change Password </a></li>
                    <li><a class="dropdown-item" routerLink="/dashRecruiter/manageCandidates">Manage Candidacies</a></li>
                    <li><a class="dropdown-item" routerLink="/dashRecruiter/manageJobs">Manage Jobs</a></li>
                    <li><a class="dropdown-item" routerLink="/dashRecruiter/postNewJob">Post New Job</a></li>
                    <li><a class="dropdown-item" routerLink="/dashRecruiter/manageMessagesRecruiter">Manage Messages</a></li>

                  </ul>
              </li>
              
            </ul>
            </li>
          <li class="nav-item dropdown" *ngIf="isLoggedInCandidate">
            <a class="nav-link dropdown-toggle" href="javascript:void(0)" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Candidates <i class="fas fa-chevron-down fa-xs"></i>
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" routerLink="/candidatesGrid">Candidates Grid</a></li>
              <li class="dropdown-submenu">
                <a class="dropdown-item dropdown-toggle" href="javascript:void(0)">Dashboard <i class="fas fa-chevron-right fa-xs"></i></a>
                  <ul class="dropdown-menu left-side">
                    <li><a class="dropdown-item" routerLink="/dashCandidat/profileCandidate">Profile</a></li>
                    <li><a class="dropdown-item" routerLink="/dashCandidat/changePasswordCandidate">Change Password </a></li>
                    <li><a class="dropdown-item" routerLink="/dashCandidat/resumeCandidate">My Resume</a></li>
                    <li><a class="dropdown-item" routerLink="/dashCandidat/manageCandidaciesCandidate">Manage Candidacies</a></li>
                    <li><a class="dropdown-item" routerLink="/dashCandidat/savedJobsCandidate">Saved Jobs</a></li>
                    <li><a class="dropdown-item" routerLink="/dashCandidat/manageMessagesCandidate">Manage Messages</a></li>
                  </ul>
              </li>
              <li><a class="dropdown-item" routerLink="/resumePDF">My Resume <span class="badge bg-danger ms-2">CV</span></a></li>
            </ul>
          </li>
            <li class="nav-item">
            <a class="nav-link" routerLink="/about" role="button" aria-haspopup="true" aria-expanded="false">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/contactus" role="button" aria-haspopup="true" aria-expanded="false">Contact us</a>
          </li>
        </ul>
        
        
      </div>
      <div class="add-listing">
          <div class="login d-inline-block me-4">
            <a routerLink="/login" data-bs-toggle="modal" data-bs-target="#exampleModalCenter" *ngIf="!isLoggedInCandidate && !isLoggedInEmployer"><i class="far fa-user pe-2"></i>Sign in</a>
            <a routerLink="/login" data-bs-toggle="modal" data-bs-target="#exampleModalCenter" *ngIf="isLoggedInCandidate || isLoggedInEmployer" (click)="logout()"><i class="far fa-user pe-2"></i>Sign out</a>
          </div>
          <a class="btn btn-white btn-md" routerLink="/postNewJob" *ngIf="isLoggedInEmployer"> <i class="fas fa-plus-circle"></i>Post a job</a>
        </div>
    </div>
  </nav>
</header>