<!--=================================
inner banner -->
<div class="header-inner bg-light">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="jobber-user-info">
            <div class="profile-avatar">
              <img class="img-fluid " src="http://localhost:8082/recruiter/{{recruiterImage}}" alt="">
              <i class="fas fa-pencil-alt"></i>
            </div>
            <div class="profile-avatar-info ms-4">
               <h3>{{recruiterCompanyName}}</h3>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
<!--=================================
inner banner -->

<!--=================================
Dashboard Nav -->
<section>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="sticky-top secondary-menu-sticky-top">
          <div class="secondary-menu">
            <ul>
              <li><a routerLink="profileRecruiter">My Profile</a></li>
              <li><a routerLink="changePasswordRecruiter">Change Password</a></li>
              <li><a routerLink="manageCandidates">Manage Candidacies</a></li>
              <li><a routerLink="manageJobs">Manage Jobs</a></li>
              <li><a routerLink="postNewJob">Post New Job</a></li>
              <li><a routerLink="manageMessagesRecruiter">Manage Messages</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--=================================
Dashboard Nav -->